.heading{ color:white; text-align: center; background-color: #FDFD96; border: 2px solid black; }
body {  background-image: url("https://i.pinimg.com/originals/92/17/a8/9217a86945b10b32d03b1ae913d4af14.jpg");

}
  
h2{color:white;text-align: center;  }
li{color:white; font-weight: 900;}
p{color:#FDFD96; font-weight: 900;}
.grade{color:white;}
.art{color:white;}
.shrek{color:white;}
.image{text-align: center;}
.inter{text-align:center;font-weight: 900;}
.roblox{color:white;}
h3{color:white;}
body{font-family: 'Architects Daughter', cursive;}
.inter { font-size: 50px;}
p{font-size:22px;}
h3{color:#38c60e;}
h2{color:#d009d3;}